@font-face {
  font-family: "Philosopher-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Philosopher-Regular.eot");
  src: url("../fonts/Philosopher-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Philosopher-Regular.woff") format("woff"), url("../fonts/Philosopher-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "GoodVibesPro";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/GoodVibesPro.eot");
  src: url("../fonts/GoodVibesPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GoodVibesPro.woff") format("woff"), url("../fonts/GoodVibesPro.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: Philosopher-Regular, Arial, sans-serif;
  background-color: #f1f1f1;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #e54c2a !important;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 3px;
}
h2 {
  font-family: GoodVibesPro;
}
.clear {
  clear: both;
}
ul {
  list-style: none;
}
/*header*/
header {
  background-color: white;
}
header .header-line {
  width: 100%;
  background-color: #e54c2a;
  height: 5px;
}
header .row {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: distribute;
      -webkit-justify-content: space-around;
      justify-content: space-around;
  /*навигация*/
}
header .row .logo {
  background: url(../img/logo.png);
  width: 150px;
  height: 150px;
  margin-top: -5px;
  z-index: 199!important;
  /*margin-right: 28px;*/
}
header .row ul {
  list-style: none;
  z-index: 10;
  margin-top: 25px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
  /*margin-right: 195px;*/
}
header .row ul .active > a {
  color: #e54c2a;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 3px;
}
header .row ul li {
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 37px;
}
header .row ul li a {
  color: black;
}
/*конец header*/
/*слайдер*/
article {
  /*margin-top: -30px;*/
}
article .slider-halls {
  background: url(../img/slider-hall.jpg);
}
article .slider-menu {
  /*Наше меню*/
  background: url(../img/slider-menu.jpg);
}
article .slider-halls,
article .slider-menu {
  /*Наше меню*/
  max-width: 100%;
  height: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-bottom: 4px solid #e54c2a;
  -ms-flex-pack: distribute;
      -webkit-justify-content: space-around;
      justify-content: space-around;
}
article .slider-halls h1,
article .slider-menu h1 {
  font-family: GoodVibesPro!important;
  color: #fff;
  font-size: 75px;
  font-weight: 100;
  margin-top: 150px;
  text-align: center;
  letter-spacing: -3px;
}
/*конец слайдер */
.bgcolor {
  background-color: #fff;
}
/*content*/
.section-menu {
  background-color: #fff!important;
  padding-top: 85px;
  height: 615px;
}
.content-menu {
  /*Наше меню*/
  max-width: 900px;
  height: 615px;
  /*  margin-top: 85px;*/
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.content-menu .red-menu {
  width: 225px;
  height: 540px;
  background: #e54c2a;
  margin-left: 18px;
}
.content-menu .red-menu a {
  color: #f1f1f1;
  border-bottom: 1px solid #bebebe;
  font-size: 14px;
  padding-bottom: 8px;
  width: 100%;
  display: inline-block;
}
.content-menu .red-menu a:hover {
  color: #691e0d !important;
}
.content-menu .red-menu .pizza {
  background: url(../img/menu-pizza.jpg);
  width: 210px;
  height: 140px;
  margin: 7px;
}
.content-menu .red-menu ul {
  margin-top: 0px;
  padding-left: 13px;
  padding-right: 13px;
}
.content-menu .red-menu ul li {
  padding-top: 5px;
}
.content-menu .red-menu ul li:last-child a {
  border-bottom: none;
}
.content-menu .list {
  width: 655px;
}
.content-menu .list h4 {
  margin-bottom: 0;
}
.content-menu .list p {
  margin-top: 10px;
  font-size: 12px;
  color: #585858;
}
.content-menu .list .list-price {
  /*        display: flex; место для выравнивание цен!!!
        justify-content: space-between;*/
}
.content-menu .list .list-price p {
  margin-left: 110px;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 16px;
}
.content-menu .list .list-price p span {
  color: #e54c2a;
  margin-left: 30px;
}
.content-menu .list ul {
  padding-left: 0;
  margin-top: 0;
}
.content-menu .list ul li:last-child {
  border-bottom: none;
}
.content-menu .list ul li {
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          -webkit-align-items: flex-end;
          align-items: flex-end;
  border-bottom: 1px solid #bebebe;
}
.content-menu .list ul li .calc > a {
  font-size: 28px;
  font-weight: 600;
  color: #8b8b8b;
  border: none;
}
.content-menu .list ul li input {
  height: 30px;
  width: 35px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
  color: #585858;
  background-color: #d8d8d8;
  border: 1px solid #a4a4a4;
}
/*расчет - наше меню*/
.raschet {
  max-width: 890px;
  height: 315px;
  margin-right: auto;
  margin-left: auto;
}
.raschet h2 {
  font-size: 42px;
  font-weight: 100;
  margin-top: 0;
  padding-top: 45px;
  text-align: center;
  color: #3f3f3f;
}
.raschet .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
}
.raschet .buttons .row-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
}
.raschet .buttons .button {
  width: 350px;
  height: 50px;
  border: 1px solid #8b8b8b;
  margin-bottom: 20px;
  font-weight: 600;
  padding-left: 40px;
}
.raschet .buttons .button p {
  margin-top: 15px;
  position: relative;
}
.raschet .buttons .button span {
  color: #e54c2a;
  right: 25px;
  top: -5px;
  font-size: 25px;
  position: absolute;
}
.raschet .buttons .itogo {
  width: 390px;
  height: 50px;
  padding-left: 0;
}
.raschet .buttons .itogo p {
  margin-top: 15px;
  font-size: 28px;
  font-weight: 600;
}
.raschet .buttons .itogo p span {
  color: #e54c2a;
}
/*конец Расчет - наше меню*/
/*заявка - наше меню*/
.row-zayavka {
  background-color: #fff;
}
.zayavka {
  height: 410px;
  width: 885px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.zayavka h2 {
  text-align: center;
  font-size: 42px;
  font-weight: 100;
  color: #3f3f3f;
  margin-bottom: 0;
}
.zayavka p {
  text-align: center;
}
.zayavka .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
  margin-top: 70px;
}
.zayavka .inputs input {
  width: 280px;
  height: 40px;
  border: 1px solid #a4a4a4;
  font-size: 16px;
  color: #000000;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.zayavka button {
  display: block;
  background-color: #e54c2a;
  border: none;
  color: #fff;
  width: 280px;
  height: 40px;
  margin-top: 43px;
  margin-left: 105px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.zayavka button:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: .85;
}
.content {
  /*наши залы*/
  max-width: 950px;
  margin-top: 95px;
  margin-right: auto;
  margin-left: auto;
  /*наши залы*/
  height: 1600px;
}
.content .veranda,
.content .karaoke,
.content .family {
  border: 1px solid #f1f1f1;
  height: 530px;
  position: relative;
}
.content .veranda div:first-child,
.content .karaoke div:first-child,
.content .family div:first-child {
  margin-top: 80px;
  width: 580px;
  height: 375px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.content .veranda-img,
.content .karaoke-img,
.content .family-img {
  width: 590px;
  height: 381px;
  position: absolute;
  top: 0;
  left: 465px;
}
.content .veranda-img {
  background: url(../img/section1.jpg);
}
.content .karaoke-img {
  background: url(../img/section2.jpg);
}
.content .family-img {
  background: url(../img/section3.jpg);
}
.content h2 {
  display: inline-block;
  margin: 20px 0 0 30px;
  font-size: 50px;
  font-weight: 100;
}
.content p {
  margin-left: 30px;
  font-size: 18px;
  line-height: 25px;
  margin-right: 30px;
}
.content a:hover {
  border-bottom: none!important;
}
.content button {
  background-color: #e54c2a;
  border: none;
  color: #fff;
  width: 365px;
  height: 50px;
  margin-top: 13px;
  margin-left: 105px;
  font-size: 20px;
  cursor: pointer;
}
.content button:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: .85;
}
/*конец content*/
/*footer*/
footer {
  position: relative;
  height: 313px;
  border-top: 5px solid #e54c2a;
  border-bottom: 39px solid #e54c2a;
}
footer h4 {
  font-size: 30px;
  color: #333333;
}
footer p {
  font-size: 12px;
  line-height: 20px;
}
footer .row {
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  /*outline: 2px solid;*/
  height: 100%;
  max-width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
}
footer .row .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          -webkit-flex-direction: column;
          flex-direction: column;
}
footer .row .footer-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
footer .footer-food {
  width: 222px;
  height: 136px;
  margin-right: 6px!important;
}
footer .footer-food ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-justify-content: space-between;
          justify-content: space-between;
}
footer .footer-food ul li img:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: .45;
}
/*скролл*/
.scroll-up {
  position: fixed;
  display: inline;
  background: url(../img/arrow.png);
  color: #ffffff;
  cursor: pointer;
  height: 40px;
  line-height: 37px;
  right: 30px;
  bottom: 18px;
  text-align: center;
  -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}
/*конец Скролл*/
